---
import LinkButton from "./LinkButton.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  prevUrl: string;
  nextUrl: string;
}

const { currentPage, totalPages, prevUrl, nextUrl } = Astro.props;

const prev = currentPage > 1 ? "" : "disabled";
const next = currentPage < totalPages ? "" : "disabled";
---

{
  totalPages > 1 && (
    <nav class="mt-auto flex justify-center" aria-label="Pagination">
      <LinkButton
        disabled={prev === "disabled"}
        href={prevUrl}
        className={`mr-4 select-none ${prev}`}
        ariaLabel="Previous"
      >
        Prev
      </LinkButton>
      {currentPage} / {totalPages}
      <LinkButton
        disabled={next === "disabled"}
        href={nextUrl}
        className={`ml-4 select-none ${next}`}
        ariaLabel="Next"
      >
        Next
      </LinkButton>
    </nav>
  )
}

<style>
  .disabled {
    @apply pointer-events-none select-none opacity-50;
  }
</style>
